html, body {
  margin: 0;
  width: 100%;
  height: 100vh;
}
body {
  background: black;
  font-family: Roboto;
}
.document {
  background: black;
  position: absolute;
  /*border: 4px solid rgba(255, 255, 255, 0.1);*/
  border: 4px solid #8059ff;
  border-radius: 6px;
  width: 200px;
  height: 260px;
  padding: 20px;
  transform: translateX(1200px) translateY(800px) rotate3d(-1, -.5, -0.5, 75deg);
  animation: slide-in 0.5s forwards;
  opacity: 0;
}
@keyframes slide-in {
  100% {
    opacity: 1;
    transform: rotate3d(-1, -.5, -0.5, 75deg);
  }
}

.line {
  /*border: 2px solid rgba(255, 255, 255, 0.1);*/
  border: 2px solid #8059ff;
  margin: 20px 0;
}

.line:first-child {
  border: 1px solid transparent;
}

.document.d0 {
  top: 0;
  left: 0;
}

.document.d1 {
  top: 50%;
  left: 20%;
  animation-delay: 0.5s;
}

#main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

#screen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(315deg, rgba(162,118,255,1) 0%, rgba(80,52,142,1) 15%, rgba(1,54,142,1) 85%, rgba(43,123,252,1) 100%);
  opacity: 0.35;
  z-index: 200;
}

#title {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  padding: 10%;
}

#title * {
  animation: fade-in 2s; 
  flex-grow: 1;
  text-align: center;
  color: black;
  text-shadow: -3px -3px 30px white,
               -3px  3px 30px white,
                3px -3px 30px white,
                3px  3px 30px white;
}

#title h1 {
  font-size: 500%;
}

#title h3 {
  font-size: 35px;
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}
