#results {
    max-width: 1000px;
    height: 300px;
    overflow: auto;
}

#indexValue {
    color: blue;
}

#toValue {
}

#fromValue {
}

#subjectalue {
}

#dateValue {
}

#bodyValue {
}

.messageField {
    color: black;
    font-weight: bold;
}
