@import "../node_modules/antd/dist/antd.css";
@import "./components/TopicModelingComponent.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Nunito Sans', Helvetica, sans-serif;
  font-weight: 300;
}

.ant-table-row:hover {
  cursor: pointer;
}
