@import "../node_modules/antd/dist/antd.css";
@import "./components/TopicModelingComponent.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Nunito Sans', Helvetica, sans-serif;
  font-weight: 300;
}

.ant-table-row:hover {
  cursor: pointer;
  transform: translate3d(0, -3px, 0);
  box-shadow: 0 4px 4px rgba(1, 67, 163, 0.24), 0 0 4px rgba(1, 67, 163, 0.12), 0 6px 18px rgba(43, 133, 231, 0.12);
}

.ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
  background: white;
}

.ant-table-thead > tr > th {
  background: white;
}

.ant-table-column-title {
  font-weight: bold;
}

